.catalogContainer {
    padding: 20px;
    text-align: center;
    color: white;
}

.catalogTitle {
    font-size: 2rem;
    margin-bottom: 20px;
}

.catalogFlex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.errorMessage {
    color: #0c0a0a;
    font-size: 1.4rem;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    background-color: red;
}