.bikeDetails {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bikeImage {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
    border-radius: 8px;
}

.bikeInfo {
    margin-top: 20px;
    padding: 10px;
}

.bikeInfo h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.bikeInfo p {
    font-size: 1.2rem;
    margin: 8px 0;
}

.backLink {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #1e90ff;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.backLink:hover {
    background-color: #1c86e3;
}


.bikeLinksButtons {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 15px;
}

.bikeLink {
    display: inline-block;
    padding: 12px 12px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    background: linear-gradient(135deg, #2b2b2c, #4e4e4f);
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.bikeLink:hover {
    background: linear-gradient(135deg, #4e4e4f, #000000);
    transform: scale(1.05);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    color: #f1f1f1;
    text-decoration: none;
}