.header {
  background-color: #333;
  /* padding: 10px 2%; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navItem {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  padding: 8px 12px;
  transition: background-color 0.3s ease;
}

.navItem:hover {
  background-color: #555;
  border-radius: 5px;
}

.navbarRightLink {
  display: flex;
  justify-content: flex-end;
}

.navbarHomeLink {
  margin-right: auto;
}

.navItem:last-child {
  margin-right: 0;
}